// FONTS
$header_font:'Akaya Kanadaka', cursive;
$text_font:'Shippori Mincho', serif;
$header_font_size:1.5rem;
$header_font_height:2rem;
$header_font_weight:700;

// COLORS
$red:#D33A2C; // background & link color
$menu_txt:#fff;
$place_holder:#767676;
$link_tag_dark_gray:#666666;
$date_color_light_gray:#909090;
$txt_font_gray:#b3b3b3;
$header_txt_blckish:#333333;